
h1 {
        color:red;
  }
   p{
       color:black;
    }
   
    body {
        margin : 0;
    }
    
    #NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    /*border: 1px solid blue;*/
    overflow: hidden;
    position: fixed;
    top: 0;
    }
   

   .NavItem{
   text-align:center;
  //* border-bottom: 1px solid blue;*//
   display: inline;
   float: left;
   }

.NavItem:last-child {
   border-bottom: none;
}


.NavItem a {
    display: block;
    color:orange;
    text-decoration : none ;
    padding : 8px 16px
}


.NavItem a:hover:not(.Active) {
color:black;
background-color:orange;
     /*changes background and text*/
}

.NavItem a.Active{
     background-color: gray;
     color: white;
     }
     
#main {
margin-top: 10px;
padding: 25px;
